.navigation ul li {
  list-style: none;
  font-weight: bold !important;
}

.navbar-bottom-border {
  border-bottom: 4px solid #6cbcdd;
}

.capability,
.information,
.latest-work,
.footer {
  border-top: 1px solid #ccc;
}

.dotted-line {
  border-top: 2px dotted #ccc;
  padding: 1px 0;
  border-bottom: 2px dotted #ccc;
}

.color-orange {
  color: #ffaf33;
}

.color-blue {
  color: #6cbcdd;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 0.8;
}

.icon-form {
  margin-left: -3rem;
}
